body {
    margin: 0;
    box-sizing: border-box;
    background-color: #EEEEEE;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.signup {
    margin-bottom: -12px;
}
hr {
    min-width: 100%;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    box-shadow: none;
}
.name-email {
    margin-bottom: 10px;
}
.phone-company {
    margin-bottom: 10px;
}
.name, .email, .phone, .company {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
.text-area {
    min-width: 100%;
    border-radius: 5px;
    border: 1px solid lightgray
}
.btn {
    margin-top: 2px;
    padding: 15px;
    min-width: 30%;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: #F15A24;
    color: white;
    font-size: 20px;
}


form {
    border: 1px solid lightgray;
    background-color: white;
    min-width: 60%;
    padding: 5px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.fa-envelope, .fa-phone {
    color: #F15A24;
    font-size: 20px;
}

h2 {
    font-family:Raleway, "Calibri body", sans-serif;
    font-weight: regular;
    font-size: large;
}
p {
    font-family: Raleway,  Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}


footer {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    min-width: 100%;

}